body.dark {
    background: #292c35;
}

body.dark .key {
    background: #292c35;
    color: #fafafa;
    box-shadow: 0 3px #292c35;
}

body.dark .clavier_virtuel {
    background: #fafafa;
    box-shadow: 0 5px #fafafa;
}

